    <section id="header-creative" class="top-section">
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading" class="shadow-box-highlight"> Adventure Out Private Surf Lessons <br>
                <span class="smaller-text"></span>
                </h1>
                <hr>
                <p class="shadow-box-highlight">You can now book <span class="highlight"></span> your private surf lesson with any of our expert instructors in just a few clicks!</p>
                <a href="/lessons/new" class="btn btn-primary btn-xl page-scroll">Request a Lesson Today</a>
            </div>
        </div>
    </section>

<!--     <section class="pricing-section">
        <div class="col-lg-12">
                    <img src="assets/price-comparison-4.png" class="price-comparison">
        </div>
    </section> -->

    <!-- <section class="pricing-section">
        <div class="col-lg-12 col-xs-12 pricing-container">
            <h1 class="center price-header">Private Coaching - Rate Comparison</h1>
            <table class="col-lg-12 col-xs-12 pricing-table">
              <thead class="">
                <tr class="">
                  <th class="col-xs-2"> </th>
                  <th class="pricing-snowschoolers col-xs-2">Snow Schoolers </th>
                  <th class="pricing-competitors-names col-xs-2">Mt. Hotham</th>
                  <th class="pricing-competitors-names col-xs-2">Falls Creek</th>
                  <th class="pricing-competitors-names col-xs-2">Mt. Buller</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                    <td class="pricing-length">1hr</td>
                    <td class="pricing-snowschoolers">$75</td>
                    <td class="pricing-competitors">$153</td>
                    <td class="pricing-competitors">$147</td>
                    <td class="pricing-competitors">$124</td>
                </tr>
                <tr>
                    <td class="pricing-length">2hr</td>
                    <td class="pricing-snowschoolers">$150</td>
                    <td class="pricing-competitors">$295</td>
                    <td class="pricing-competitors">$277</td>
                    <td class="pricing-competitors">$267</td>
                </tr>
                <tr>
                    <td class="pricing-length">Half-day (3hr)</td>
                    <td class="pricing-snowschoolers">$225</td>
                    <td class="pricing-competitors">$398</td>
                    <td class="pricing-competitors">$376</td>
                    <td class="pricing-competitors">$345</td>
                </tr>
                <tr>
                    <td class="pricing-length">Full-day (6hr)</td>
                    <td class="pricing-snowschoolers">$450</td>
                    <td class="pricing-competitors">$693</td>
                    <td class="pricing-competitors">$678</td>
                    <td class="pricing-competitors">$699</td>
                </tr>
              </tbody>
            </table>
        </div>
    </section> -->

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-xs12 text-center">
                    <h2 class="section-heading">Life is better when you surf.</h2>
                    <hr class="light text-center">
                    <p class="text-white">There are a lot of choices when it comes to picking a surf school. Adventure Out stands apart from the rest by offering a professional experience that is unparalleled. You won’t be taking lessons from local high school kids or beach bums. Our instructors are licensed to teach at our beaches, college graduates, lifeguard and first-aid certified, and trained in our instructor program. We are professional outdoor guides ready to get you out in the water catching waves safely, and having tons of fun!. </p>

<!--                     <p> We match students with available instructors completely free of charge, though we do encourage donations as an appreciation of your instructor's time.</p>
 -->                    <a href="/lessons/new" class="btn btn-primary btn-xl page-scroll">Get Started!</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row how-it-works">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading how-it-works">How it works</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
                        <h3>Request a Lesson</h3>
                        <p class="text-muted">Get started by selecting your location, date, and length of lesson.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                        <h3>Match with a Pro</h3>
                        <p class="text-muted">Notifications are immediately pushed to any available Adventure Out instructor, and you'll be notified as soon as one confirms their availability. 80% of request are responded to within 2 hours.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                        <h3>Learn to Ride</h3>
                        <p class="text-muted">Your surf pro will coordinate all logistics like directions, where to park, and your wet-suit size in advance of your lesson.  </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                        <h3>Share the Love</h3>
                        <p class="text-muted">After your lesson, you'll have the opportunity to rate the quality of your Adventure Out experience. If your instructor rocked it, give them a 5-star review, and share the word!</p>
                       <!-- <p class="text-muted">Rate the quality of your Snow Schoolers experience, and have the option of making a donation to help sustain the program. 100% of donations go to our instructors.</p> -->
                    </div>
                </div>
            </div>
        </div>
    </section>

<section class="bg-dark small">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Get started by signing up today!</h2>
                   <a href="/lessons/new" class="btn btn-primary btn-xl page-scroll">Book a Lesson Today</a>
            </div>
        </div>
</section>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Questions - Let us know!</h2>
                    <hr class="primary">
                    <p>Give us a call or send us an email and we will get back to you as soon as possible!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p>(530)563-6320</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:info@surfschoolers.com">info@surfschoolers.com</a></p>
                </div>
            </div>
        </div>
    </section>
